@media #{$breakpoint-medium} {

	.overlapping {
		margin-bottom: -100px;
	}

}

.alternating-image {
	width:  585px;
	height: 780px;
	background-size: cover;


	img {
		width: 100%;
	}

}

@media #{$breakpoint-medium} {
	.alternating-text {
		margin-top: 60px;
	}
}

@media #{$breakpoint-large} {
	.alternating-text {
		margin-top: 200px;
	}
}